<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.evgen.apiclient" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--TODO remove -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--TODO remove or need explain-->
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />

    <application
        android:name=".CoreApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- TODO orientation, launchMode, etc -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".VkLoginActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".WikiActivity"
            android:label="@string/app_name">
            <!--android:launchMode="singleTop" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action  android:name = "android.intent.action.SEARCH"  />-->
            <!--</intent-filter>-->
            <!--<meta-data  android:name = "android.app.searchable"-->
                <!--android:resource = "@xml/searchable" />-->
        </activity>


        <!-- TODO remove -->
        <service
            android:name=".account.WikipediaAccount"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/wiki_auth" />
        </service>
        <service
            android:name=".account.SyncService"
            android:exported="false"
            android:process=":sync" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
           <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>

        <!--TODO remove -->
        <activity
            android:name=".account.AuthenticatorActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".DetailsFragmentActivity"
            android:label="@string/app_name" >
           <meta-data android:name="android.app.default_searchable"
                android:value=".WikiActivity" />
           </activity>

        <provider
            android:name=".db.provider.WikiContentProvider"
            android:authorities="com.example.evgenmeshkin.GeoData"
            android:exported="true"
            android:multiprocess="true" >
        </provider>


    </application>

</manifest>
